@import url('https://fonts.googleapis.com/css2?family=Sansita&display=swap');
body {
  font-family: 'Sansita', sans-serif;
  overflow-x: hidden;
}

span {
  color: #F53803;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: gray;
}

a:hover {
  text-decoration: none;
  color: gray;
}

/* Vertically Align Centre */
.outer {
  display: table;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}
.btn{
  border: 1px solid #F53803;
}
.btn:hover{
  background-color: #F53803;
  border-color: #F53803;
  color: white;
}
.inner {
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 100%;
  /* max-width: 400px; */
}

/* Vertically Alligned CSS Ends */

.navbar {
  background-color: white;
}

.imgfix {
  width: 100%;
  height: auto;
}

.text-reset {
  text-decoration: none;
}

#animateimg {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

#features {
  text-align: center;
}
#features p
{
  text-align: justify;
}
.feature-cards {
  width: 100%;
  height: auto;
  max-width: 400px;
  border: 1px solid #F53803;
  border-radius: 30px;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}

.feature-cards:hover {
  box-shadow: 1px 0px 20px 8px rgba(245, 56, 3, 0.55);
  -webkit-box-shadow: 1px 0px 20px 8px rgba(245, 56, 3, 0.55);
  -moz-box-shadow: 1px 0px 20px 8px rgba(245, 56, 3, 0.55);
  font-style: italic;
  font-weight: bold;
}

#feature-icons {
  text-align: center;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: #F53803;
  font-size: 60px;
  color: white;
  padding: 10px;
  padding-top: 22px;
  margin-bottom: 10px;
}

.menu_active {
  display: block;
  padding: .5rem 1rem;
  font-weight: bold;
  text-decoration: none;
  color: #F53803;
}

.menu_active:hover {
  color: #F53803;
}

.nav-link {
  color: black !important;
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

#footer {
  text-align: center;
}

#copyright-text {
  background-color: rgba(0, 0, 0, 0.025);
}

#footer {
  bottom: 0;
}

@media screen and (max-width: 962px) {
  #mobviewtextfix h1 {
    font-size: 24px;
  }

  #mobviewtextfix h5 {
    font-size: 14px;
  }
}